<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :copayments } %>
<%= render partial: 'spree/admin/variants/autocomplete', formats: :js %>

<%= csrf_meta_tag %>

<div class="copayments-form">
  <%= render partial: 'spree/admin/copayment_relations/form', locals: { product: @product } %>
</div>

<div class="copayments-container">
  <%= render partial: 'spree/admin/products/copayments_container', locals: { product: @product } %>
</div>
